.myServe{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

.myServe .boxServiceImg{
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition-duration: 1s;
    position: absolute;
    top: -7px;
    left: -6%;
  
}

.myServe:hover .boxServiceImg{
    width: 100%;
    height: 100%;
    /* transform: rotate(10deg); */
   
}

.servOver{
    position: absolute;
    width: 110%;
    height: 110%;
    top: -10%;
    left: -10%;
    z-index: 5;
    /* background-color: rgba(0, 0, 0, 0.4); */
    transition-duration: 1s;
}

.myServe:hover .servOver{
    width: 120%;
    height: 120%;
    transform: rotate(10deg);
    background-color: transparent;
   
}

.footerService{
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
    text-align: center;
    padding: 10px;
}

.footerService h3{
    color: #fff;
    z-index: 5;
}

.myServe:hover .footerService{
    width: 70%;
    bottom: 40%;
    left: 15%;
    background-color: #2ea4e2;
    z-index: 7;
}

.about{
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top center;
    z-index: 2;
    position: relative; */
    color: #000 !important;
    line-height: 2;
}

/* .about span{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #0000;
} */

.about::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.2 );
    z-index: 5;
    
}



.top_footer{
    background-image: linear-gradient(to right, #2ea4e2 , silver);
    width: 100%;
    text-align: center;
    color: #fff !important;
    /* padding: 25px; */

}
/* 
body{
    position: relative;
    z-index: 10;

} */

.box_icon_social{
    position: fixed;
    left: 35px !important;
    bottom: 5%;
    z-index: 100;
    background-color: transparent;
    width: 50px;
    height: 200px;
}

.box_icon_social i{
    font-size: 25px;
    border: 1px solid #2ea4e2;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2ea4e2;
    color: #fff !important;
    transition-duration: 0.5s;
}

.box_icon_social .whatsapp
{
    font-size: 25px;
    border: 1px solid #080;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #080;
    color: #fff !important;
    transition-duration: 0.5s;
}

.box_icon_social .facebook
{
    font-size: 25px;
    border: 1px solid #1877F2;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1877F2;
    color: #fff !important;
    transition-duration: 0.5s;
}

.box_icon_social i:hover{
    border: 1px solid #fff;
    background-color: #fff;
    color: #2ea4e2 !important;
}


.model_scroll{
    height: 80vh;
    overflow-y: auto;

}





.my_sidebar{
    background-color: aqua;
    width: 100%;
    height: 100%;
}

.card_sidebar_one{
    background-color: #2ea4e2 !important;
    color: #fff;
}

.carousel_custom{
    position: relative;
    z-index: 1;
}

.overly_carousel{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.overly_carousel .overly_content{
    color: #fff !important;
    z-index: 40;
    position: relative;
    top: 29%;
    width: 70%;
    margin: auto;
    text-align: center;
}

.overly_carousel .overly_content h2{
    position: relative;
    color: #fff !important;
    z-index: 40;
    font-weight: 300;
    margin-top: 30px;
   
}

.overly_carousel .overly_content h1{
    position: relative;
    color: #fff !important;
    z-index: 40;
    font-size: 70px;
    font-weight: 900;
    margin-top: 30px;
   
}

.overly_carousel .overly_content h3{
    position: relative;
    color: #2ea4e2 !important;
    z-index: 40;
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
   
}

.overly_carousel .overly_content p{
    color: #fff !important;
    font-weight: 500;
    z-index: 40;
   
}

.navbar .nav-link, .navbar .dropdown a{
    font-size: 17px !important;
    font-weight: 600;
}


#footer{
    /* background-image: url('assets/img/departments-5.jpg');
    z-index: 1; */
    background-color: transparent;
    position: relative;
    z-index: 2 !important;
    background-image: url('assets/img/departments-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
}

.img_bak{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 1 !important;
    background-color: rgb(250,250,250,0.4 );

}

#footer .footer-top{
    position: relative;
    z-index: 2;
    background-color: transparent;
}

@media (min-width: 769px) {

#hero h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
  }
  #hero h1 {
    margin: 0 auto 30px auto;
    font-size: 60px;
    font-weight: 800;
    color: #fff;
  }
}
  @media (max-width: 768px) {
    #hero h3 {
      font-size: 25px !important;
    }
  
    #hero h1 {
      font-size: 34px !important;
    }

    .logo{
        float: left;
    }
    .box_logo{
        width: 100% !important;
    }

    .overly_carousel .overly_content{
      
        width: 95%;
        margin: auto;
    }
    

  }

  #hero-carousel-indicators{
    visibility: hidden;
  }

/* .box_hover_img_service{
    overflow: hidden;
} */

  .hover_img_service{
    transition-duration: 0.8s;
  }

  .hover_img_service:hover{
    transform: scale(1.05);
}